{% extends 'bootstrap3/bootstrap3.html' %}
{% load bootstrap3 %}

{% block bootstrap3_title %}create{% endblock %}

{% block bootstrap3_content %}
<form method="POST">
    {% csrf_token %}
<div class="panel panel-default">
    <div class="panel-body">
        <ul style="display:flex;flex-direction:row;padding:0; margin:0;justify-content:space-between;align-items:center;">
            <li style="list-style:none;margin:0;padding:0"><button onclick="window.location='{% url "story:nodelist" parentid=parent.id %}'" class="btn btn-default glyphicon glyphicon-chevron-left"></button></li>
            <li style="list-style:none;margin:0;padding:0"><b>新的章节</b></li>
            <li style="list-style:none;margin:0;padding:0"><button type="submit" class="btn btn-default glyphicon glyphicon-ok"></button></li>
        </ul>
    </div>
</div>
<p>上一章: {% if parent.title %}<b><a href="{{parent.get_absolute_url}}">{{parent.title}}</a></b>{%else%}无{%endif%}</p>
    <div class="form-group">
        <label style="width:100%" for="title">
            标题:<input type="text" name="title" class="form-control" placeholder="Title"/>
        </label>
    </div>
    <div class="form-group">
        <label style="width:100%" for="content">
            内容:<textarea name="content" class="form-control" placeholder="Content" rows="5"></textarea>
        </label>
    </div>
</form>
{% endblock %}
